In [1]:
!rm sp500sub.csv

rm: cannot remove 'sp500sub.csv': No such file or directory

In [2]:
!wget -nc https://lazyprogrammer.me/course_files/sp500sub.csv

--2020-12-31 14:56:59--  https://lazyprogrammer.me/course_files/sp500sub.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 104.31.81.48, 104.31.80.48, 172.67.213.166, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|104.31.81.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25473876 (24M) [text/csv]
Saving to: ‘sp500sub.csv’

sp500sub.csv        100%[===================>]  24.29M  6.27MB/s    in 4.9s

2020-12-31 14:57:05 (4.91 MB/s) - ‘sp500sub.csv’ saved [25473876/25473876]

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('sp500sub.csv', index_col='Date', parse_dates=True)

In [5]:
df.head()

             Open   High    Low  Close  Adj Close     Volume  Name
Date
2010-01-04   9.22   9.51   9.17   9.50       9.50  1865400.0  INCY
2010-01-05   9.51  10.29   9.45  10.27      10.27  7608900.0  INCY
2010-01-06  10.38  11.09  10.35  11.00      11.00  8046700.0  INCY
2010-01-07  11.00  11.06  10.62  10.82      10.82  3680300.0  INCY
2010-01-08  10.82  11.00  10.75  10.94      10.94  1529300.0  INCY

In [ ]:
goog = df[df['Name'] == 'GOOG']
goog[['Close', 'Adj Close']].plot(figsize=(10, 10))

In [ ]:
aapl = df[df['Name'] == 'AAPL']
aapl[['Close', 'Adj Close']].plot(figsize=(10, 10))

In [ ]:
aapl.tail()